
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Kaushan+Script&family=Tangerine:wght@400;700&display=swap');
.home
{
    background-color: #ffe6e6;
    color: black
}
.info-container
{
    width: 1400px;
    display: flex;
}
.info
{
    font-style: italic;
    color: rgb(6, 6, 6);  
    font-size: 80px;
    font-weight: bold;
    width: 800px;
    margin: 20px 30px;
    font-style: italic;
    font-weight: 1000;
    font-family: 'Tangerine';
}
.caption
{
    font-size: 40px;
    margin-top: 30px;
    filter: drop-shadow(rgb(208, 142, 157) 1rem 1rem 20px);
}
.button
{
    display: flex;
    margin: 30px;
}
.btn-1
{
     background-color: white;
     color: black;
     width: 100px;
     height: 40px;
     border-radius: 30px;
     margin: 20px 40px;
     border: 0.2 solid black;
     box-shadow: 0px 0px 1px 1px grey;
}
.btn-1:hover
{
     background-color: rgb(188, 242, 242);
     color: black;
     width: 130px;
   
}
.btn-2
{
     background-color: rgb(255, 255, 255);
     color: black;
     width: 100px;
     border-radius: 30px;
     margin: 20px 40px;
      box-shadow: 0.5px solid red;

}
.btn-2:hover
{
    background-color: rgb(195, 238, 238);
     color: black;
     width: 130px;
     border:  0.3px, rgb(5, 5, 5) , solid;
}


.cake

{
    width: 800px;
   height: 600px;
   filter: drop-shadow(150px 100px 200px rgba(223, 5, 5, 0.5));
}
.cake:hover
{
    filter: drop-shadow(250px 200px 300px rgba(223, 5, 5, 0.5));
}

